.OtherOptions__FooterPriv, .OtherOptions__FooterCond, .OtherOptions__FooterFAQ{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Icons__Facebook, .Icons__Linkedin, .Icons__Insta, .Icons__Youtube{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: flex;
}