.HikLogoNoTxt__LOGINPAGE {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width:4rem;
}

.Botton__LoginHiklub {
    background-color: #93C01F;
    box-shadow: none;
}