.HikLogoNoTxt__REGISTERPAGE{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width:4rem;
}

.ButtonRegister__HIKLUB {
   color:#93C01F;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}